
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
h1{
    font-size:300%;
    font-weight:300;
}
h1::after{
    display: block;
    height: 2px;
    background-color:#FFEB3B;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px; 
}
 h2:after{
    display: block;
    height: 2px;
    background-color:#FFEB3B;
    content: "  ";
    width: 400px;
    margin: 0 auto;
    margin-top: 30px; 
    margin-left: 85px;
}
 h4:after{
    display: block;
    height: 2px;
    background-color:#FFEB3B;
    content: "  ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px; 
    margin-left:0px;
}


.about,
.projects{
    margin-bottom:5%;
    padding-bottom:10%;
}

* a{
text-decoration:none;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}

html,
body {
    color: #212121;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
   
}
.clearfix{zoom:1}
.clearfix:after{
    content:'.';
    clear: both;
    display:block;
    height:0;
    visibility: hidden;

}
/* section {
    padding: 80px 0;
} */
header{
    background-image:linear-gradient(rgb(25, 29, 56, 0.9),rgba(0, 0, 0, 0.8)), url(/img/hustle.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:100vh;
}
/* NAV BAR */
/* -------- */
.navBar{
    float:right;
    list-style: none;
    margin-top:2rem; 
    margin-right: 25px;
    
    
    
}
.navBar li{
    display:inline-block;
    margin-left:30px;
    padding-bottom: 50px;
}
.navBar li:first-child{
    display: none;
}
.navBar li a {
    color:#fff;
    text-decoration: none;
   
    font-size: 130%; 
}

.navBar li a:link,
.navBar li a:visited{
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s; 

}

.navBar li a:hover,
.navBar li a:active{
    /* border-bottom:2px solid #FFEB3B; */
    color:#FFEB3B;
    font-weight: 300;
  
}    

/* STICKY NAV */
/* ---------- */
.sticky {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    
    background-color:rgb(239, 241, 248, 0.9);
    color:#212121;
    z-index: 9999;
    height:60px;


}
.sticky .navBar{ 
    margin-top: 20px;
}
.sticky .navBar li a:link,
.sticky .navBar li a:visited{
    font-weight: 300;
    color:#212121;
    padding:  16px 0;
  
}
/* -------------------------------------------------------------- */
.sticky .navBar li:first-child{ 
    display:inline ;
}


/* SITE HEADING */
/* -------------- */
.blurb{
    width:800px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}
.blurb h2{
    margin-left:15%;
    font-weight: 100;
    font-size:350%;
    margin-bottom:5%;
    color:#ffffff;
}

.blurb h3{
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight:300;
    color:#ffffff;
  
}
span{
    
    font-weight:400;
    color:#ffffff;
    text-decoration:  underline wavy#FFEB3B;

}

/* Buttons */
/* -------- */

.btn{
    
    border-radius: 5px;
    padding:10px;
    text-decoration: none;
    float:right;
    margin-left:30px;
    margin-top:3%;
    margin:25px 
    
}

.res-btn{
    
    background-color:#FFEB3B;
    /* border: 1px solid #FFEB3B; */
    color:#212121;
    padding:15px 50px;
    font-size:120%;
  
}
    

.buttons{
    margin-right:16%;
}

.web-btn:link,
.web-btn:visited{
   
    border: 1px solid  rgba(100,92,23, 0.3);
    color:#FFFFFF;
    background-color: rgba(100,92,23, 0.3);
    border: 1px solid rgba(100,92,23, 0.3);
    font-size:120%;
    font-weight:300;
    letter-spacing: 1;
    padding:15px;
}

.web-btn:hover,
.web-btn:active{
background-color:rgba(100, 92, 23, 0.6);
color:#FFFFFF;
}
.res-btn:hover,
.res-btn:active{
background-color:rgb(231, 213, 53);

}

.far{
    margin-left: 20px;
    color:#212121;
}

.fas{
    margin-left: 10px;
    color:#FFEB3B;
}




/* ABOUT ME */
/* ------------ */
.about {
    height:100vh;
    display:grid;
    grid-template-rows:10% 10% 80%;
    margin: 0;
    padding:0;
    
}
.about-me-headline{

    display:flex;
    justify-content: center;
    padding:.5rem;
    color:#212121;

}
.about-me{

    display:grid;
    grid-template-columns: 10% 40% 40% 10%;

}


.head-shot{
    border: 1px solid #bdbdbd;
    height:22rem;
    width:22rem;
    border-radius: 50%;  
    margin-top:3rem;
      
}

.bio{
    display:grid;
    grid-template-rows: 10% 60% 30%;
}
.about-me-blurb{
    border-left: 3px solid #BDBDBD;
}
p{
    padding-left: 5rem;
    font-weight:400;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 30px;

}





/* PROJECTS */
/* -------- */

.projects{
    margin-bottom:0px;
    padding-block-end: 0%;
}
.project-1{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-image:url(/img/icons/Daug-project.png);
    background-color:#fdfdfd;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height:100vh;
   
}

.project-description{
  margin-top:15rem;
  margin-left:5em;
  margin-right:3em;

}
.project-description h4{
    font-size:270%;

}
.project-description h3{
    margin-top: 30px;
    font-size:120%
}


 

.project-1{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-image:url(/img/icons/Daug-project.png);
    background-color:#fdfdfd;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height:100vh;
   
}
.project-1 h3,h4{
    color:#212121; 
}

.icons{
    display:grid;
    grid-template-rows: repeat(4,25vh); 
    border-left:3px solid #BDBDBD
}
.icons {
    /* margin-top:5em; */
    padding:0; 
}


 .logo{
    margin-left:10rem;
    margin-top:5rem;
 }
 .logo2{
    margin-left:10rem;
    margin-top:2rem;
}




.project-2{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-color:#1e265e;
    background-image:url(/img/icons/ncr_project.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height:100vh;
    padding-top:0;
}

.project-2 h4, h3{
    color:#e6e1e1;
}

#django{
    margin-top:3rem;
}

#python{
    margin-top:1rem;
}
#react{
    margin-top:-3rem;
}

#psql{
    margin-top:-4rem;
}


.project-3{
    background-color:blue;
    background-image:url(/img/macbook.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height:100vh;
}
.project-4{

    background-image:url(/img/macbook.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height:100vh;
}

.project{
    margin:0 10px;
    width:100%;
    margin:0;
}


/* CONTACT */
/* ---------------------- */
.contact{
    height:100vh;
    background-color:#ffffff;
    display:grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows:30% 70%;

    
}
.contact-form{
    height:25rem;
    width:25rem;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    margin: 0 auto;
    
   
   
} 

.contact .headline{
    display:flex;
    justify-content:center;
    margin-top:10%;
    color:#212121;

}

input[type=text],
input[type=email],
textarea {
width:60%;
padding:10px;
border-radius: 3px;
border: 1px solid#ccc;
font-size:15px;
font-weight: 100;
}


.span-1-of-2{
    display:flex;
    justify-content: center;
    margin-bottom:1rem;
}

.span-1-of3{
margin-left:10rem;
}
.mess{
height:200px;
margin-bottom:1%;
}

#name{
    margin-top:2%;
}


*:focus{
    outline: none;
}

input[value]{
    font-size:80%;
}

.heading{
color:#212121;
margin-left:5rem;
}

.send-btn{
    background-color:#FFEB3B;
    color:#212121;
    padding:15px 40px;

    width:150px;
    border-radius:5px;
    

}

.btm-btn{
    display:flex;
    justify-content:center;
    margin-top:3%;
    font-size:120%;
}


/* FOOTER */
/* ---------------- */
footer{
    background-color:#1e265e;
    height:15vh;
    display:grid;
    grid-template-columns: repeat(3, 1fr)
    
}
.copy{
    color:#BDBDBD;
    font-weight:100;
    margin-top:4rem;
    display:flex;
    justify-content:center;
 
}
.copy p{
    margin-right:6rem;
    font-weight:300;
}
 .social-links{
    display:flex;
    justify-content:flex-end;
    list-style: none;
    align-items: stretch;
    float:right;   
    padding-top:2.5rem;
} 

.links{
    color:#BDBDBD;
    font-size: 3rem;
    margin-right:6rem;
    opacity: 0.9;
} 


/* Animations
/* --------------------- */
.js-wp-1 {
    opacity:0;
}
 .js-wp-1 .animated {
    opacity: 2;
}
.js-wp-2 {
    opacity:0;
}
 .js-wp-2 .animated {
    opacity: 2;
}

