
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color:#FFFFFF;

}
* a{
text-decoration:none;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}

html,
body {
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
   
}
.clearfix{zoom:1}
.clearfix:after{
    content:'.';
    clear: both;
    display:block;
    height:0;
    visibility: hidden;

}
section {
    padding: 80px 0;
}
header{
    background-image:linear-gradient(rgb(25, 29, 56, 0.9),rgba(0, 0, 0, 0.6)), url(/img/hustle.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:100vh;
}
/* NAV BAR */
/* -------- */
.navBar{
    float:right;
    list-style: none;
    margin-top:10px; 
    margin-right: 25px;
}
.navBar li{
    display:inline-block;
    margin-left:30px;
    padding-bottom: 50px;
}
.navBar li:first-child{
    display: none;
}
.navBar li a {
    color:#fff;
    text-decoration: none;
    font-size: 90%; 
}

.navBar li a:link,
.navBar li a:visited{
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s; 

}

.navBar li a:hover,
.navBar li a:active{
    /* border-bottom:2px solid #FFEB3B; */
    color:#FFEB3B;
    font-weight: 300;
  
}    

/* STICKY NAV */
/* ---------- */
.sticky {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: rgba(255, 255, 255, 0.986);
    box-shadow:0 2px 2px #efefef;
    z-index: 9999;


}
.sticky .main-nav{ 
    margin-top: 20px;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding:  16px 0;

  color: #555;
 
  
}  



/* SITE HEADING */
/* -------------- */
.blurb{
    width:800px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}


.blurb h1{
    margin-left:15%;
    font-weight: 100;
    font-size:350%;
    margin-bottom:5%;
    
}

.blurb h3{
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight:300;
  
}
span{
    
    font-weight:400;
    text-decoration:  underline wavy#FFEB3B;

}

/* Buttons */
/* -------- */

.btn{
    
    border-radius: 5px;
    padding:10px;
    text-decoration: none;
    float:right;
    margin-left:30px;
    margin-top:3%;
    margin:25px 
    
}

.res-btn{
    
    background-color:#3F51B5;
    border: 1px solid #3F51B5;
    padding:15px 50px;
    font-size:120%;
  
}
    

.buttons{
    margin-right:16%;
}

.web-btn:link,
.web-btn:visited{
   
    border: 1px solid  rgba(197,202,233, 0.1);
    color:#FFFFFF;
    background-color: rgba(197,202,233, 0.1);
    font-size:120%;
    font-weight:300;
    letter-spacing: 1;
    padding:15px;
}

.far{
    margin-left: 20px;
}

.fas{
    margin-left: 10px;
    color:#FFEB3B;
   

}


/* PROJECTS */
/* -------- */


.project-1{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    
    background-image:url(/img/macbook.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height:100vh;
}

#mongo1{
    margin-bottom:7%;
}
#node1{
    margin-bottom:5%;
}

.project-1 h3{
    color:black;
    
}
.icons{
 
    display:grid;
    grid-template-rows: repeat(3,1fr);
}

.icons img{
    margin-left:15%;
    margin-top:20%;
}

.project-2{
    background-color:rgb(239, 241, 248);
    background-image:url(/img/macbook.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height:100vh;
}




.project-3{
    background-color:#FFEB3B;
    background-image:url(/img/macbook.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height:100vh;
}
.project-4{
    
    background-color:rgb(239, 241, 248);
    background-image:url(/img/macbook.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height:100vh;
}

.project{
    margin:0 10px;
    width:100%;
   
    margin:0;

}


